@import "normalize.css";

html {
    box-sizing: border-box;
    margin:0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body {
    
    width:100vw;
    margin:0;

}

.banner {
    position:absolute;
    bottom:25px;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    
&__text {
    font-size:80px;
    text-transform: uppercase;
    color:white;
    text-shadow: 8px 8px 16px black;
    font-family: 'Itim', cursive;
    text-align:center;
    margin:0;
    z-index:1000;
}
}

.first {
    background-image: url(../img/sonic_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
    margin:0;
    display:flex;
    flex-direction:column;
}

.george {
    width: 100%;
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
    
    &__article {
        margin:32px auto;
        width:100%;
      
    }
    &__big-heading {
        text-align:center;
        font-size: 54px;
        margin:32px 0 16px 0;
       border-radius: 100% 0% 77% 23%/0% 52% 48% 100%;
       border:2px dashed white;
    }
    &__small-heading {
        width:100%;
        text-align:center;
        font-size: 28px;
        margin:0 0 16px 0;

    }
    &__paragraph {
        max-width:400px;
        padding: 16px;
        margin-left:32px;
        margin-top:52px;
        font-size:24px;
       
    }
    &__photo {
        max-width:400px;
        padding: 16px;
        border-radius:71% 29% 70% 30% / 30% 70% 30% 70%;
        margin-right:32px;
        margin-top:52px;
       
        border:2px dashed white;
    }
    &__flex {
        display:flex;
        flex-direction: row;
        margin:16px auto;
        align-items: center;
        justify-content: center;

    }
    }

    
.header__image {
    width:64px;
   margin:16px;
}

.header__navigation {
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    backdrop-filter: blur(20px);
    z-index:2000;
}


main {
  
}

.navigation {
    height:60px;
    margin: 16px auto;
    text-align:center;
    
    &__link {
        height:100%;
        font-family: 'Itim', cursive;
        font-size:48px;
        text-decoration:none;
        cursor:pointer;
        padding:0 16px 0 22px; 
        display:inline-block;
        color:#241d1b;
        text-transform: uppercase;
        text-shadow:1px 0px 2px #ffffff,-3px 4px 0px #f0f0f0,4px -3px 0px #0f00b2;
    }
}


.section {
    min-height:100vh;
    width: 100%;
    padding-top:80px;
    background: #000428; 
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    color:white;
}

.sonic {
  
}

.sonic-speaks {
    width:300px;
    height:300px;
    border: 3px solid black;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:40%;
}

.sonic-speaks:hover {
    background-color: red;
}